{{ partial "header.html" . }}
{{ partial "nav.html" . }}  
<main class="wowsers"> 
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        <div class="please">
        {{.Content}}
        {{ partial "categories.html" . }}   
</div>

<div class="dean">
{{ range first 1 .Data.Pages }}
  <h2 class="readtime">Latest Post</h2>
  <h3>
      <br>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h3>
      <span class="date">{{.Date.Format "January 02, 2006"}} </span>
      <br>
      <br>
      <span class="ohyella">
        {{ .Description }}
      </span>
      {{ end }}
</div>
      <hr>
<h2 class="readtime please">All Posts</h2>
{{ range (where .Site.Pages "Type" "post").GroupByParam "param_key" "desc" }}
  <ul class="bmo">
    <h3 class="readtime">{{ .Key }}</h3>
    {{ range .Pages }}
    <li>
      <div>
        <span class="date">{{.Date.Format "January 02, 2006"}} </span>
        <br>
        <a href="{{.Permalink}}">{{.Title}}</a>
      </div>
  </li>
    {{ end }}
  </ul>
  {{ end }}


<hr>

{{ partial "footer.html" . }}

      </main>



