{{ partial "header.html" . }}
{{ partial "nav.html" . }}  
<main class="wowsers"> 
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        <div class="please">
          <h2>Observations using every UNC Box Score Since 03-04</h2>

<h3>Follow <a href="https://twitter.com/dadgumboxscores/" target="_blank" >@dadgumboxscores</a> for updates</h3>
        {{.Content}}
        {{ partial "categories.html" . }}   
</div>

<div class="dean">
{{ range first 1 .Data.Pages }}
  <h2 class="readtime">Latest Post</h2>
  <h2>
      <br>
      <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
      </h2>
      <span class="date">{{.Date.Format "January 02, 2006"}} </span>
      <br>
      <br>
      <h2><span class="preview">
        {{ .Description }}</span>
      </h2>
      {{ end }}
</div>
      <hr>
<h2 class="readtime please">All Posts</h2>
{{ range (where .Site.Pages "Type" "post").GroupByParam "param_key" "desc" }}
  <ul class="bmo">
    <h3 class="readtime">{{ .Key }}</h3>
    {{ range .Pages }}
    <li>
      <div>
        <span class="date">{{.Date.Format "January 02, 2006"}} </span>
        <br>
        <a href="{{.Permalink}}">{{.Title}}</a>
      </div>
  </li>
    {{ end }}
  </ul>
  {{ end }}


<hr>

{{ partial "footer.html" . }}

      </main>



