/* Nav */ 

 header {
  overflow: hidden;
  background-color: #56a0d3;
  color:#fff;
}

header h1 {
  text-align: center;
  font-size: 24px;
  color: #fff;
}

header h1 a {
  color: #fff;
  text-decoration: none;
}

header nav {
  text-align: center;
  margin: 1em;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px ;
  font-weight: 700;
  margin: 15px;
}


/* End Nav */ 



@media screen and (max-width: 750px) {

  header h1, header nav {
    float: none;
    padding-left: 0;
  }

    header nav a {
    display: block;
    margin: auto;
    text-align: center;
    color: #fff;
  }

  h1 { 
  font-size: 14px;
   }

   h4 {
    font-size: 12px;
   }

  


.stilwata {
font-size: 10px;         /* only if needed */
  }

 tbody { 
 font-size: 10px; 
}

.larrydrew {
    display:none;
}

.boone { 
 font-size: 10px;
 }
.code {
  font-size: 10px;
}

body {
  font-size: 14px;
  line-height: 1.2;
}

.ohyella {
  font-size: 12px;
}



}

@media screen and (max-width: 650px) {

  header nav a {
    display: block;
    margin: auto;
    text-align: center;
    color: #fff;
  }
}

/* End Nav */ 

/* Footer */ 

.pinson {
    margin:3em auto;
    width:100%;
    text-align:center
}

.pinson-dance {
    margin:1em auto 1em;
}
.pinson-dance ul {
  list-style: none;
}
.pinson-dance li{ 
  font-size: 12px;
  line-height: 3em;

 }

/* End Footer */


/* Pre text */ 


/* end pre text */



/* End Footer */


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  margin: 0 auto;
  color: #14191d; 
  background-color: #F2FAFD;
}

.wowsers { 
  padding: 1em;
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5em;
 }

 .dean { 
    text-align: center;

  }

h1 {
  font-size: 24px;
}
b { 
  color: #0c0f12;
 }
h2 {
  font-size: 18px;
}
h3 {
  font-size: 14px;
}

.wowsers a { 
    border-bottom: 3px solid #56a0d3;
    text-decoration: none;
    color: inherit;
  }

.wowsers h1 { 
    text-align: center;
    line-height: 2em;
 }

.wowsers h3 { 
    line-height: 2em;
 }


header { 
 text-align: center;
 }

footer { 
text-align: center; 
line-height: 2;
} 

footer a { 
text-align: center; 
} 

 .date {
    color:#acacac
}

.jangell { 
  font-weight: bold;
  text-align: center;
 }

.bmo { 
  line-height: 1.5;
 }

 .bmo ul { 
list-style: none;
  }

  .bmo li { 
list-style: none;
    margin-bottom: 2rem;
  }

img { 
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto ;
 }

.twitter-tweet { 
 display: block;
  margin-left: auto;
  margin-right: auto ;
 }
  

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

 .quotedate { 
  color: #898989;
  }

.foot {  
 font-size: 12px; 
}

.nope { 
  color: #acacac;
 }

.please { 
  text-align: center;
 }

.brooks { 
 text-align: center;
 }


.ohyella {
  background-color: #faf785; 
  padding: 0.25em; 
  border-radius: 1em 0 1em 0;
  font-size: 14px;
}

.readtime { 
 color:#d38956;
 text-transform: uppercase;
 }

 .category-list { 
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 


.category-list-item {
    display: inline-block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
} 


